@font-face {
    font-family: 'nunitoextralight';
    src: url('./fonts/nunito/nunito-extralight-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoregular';
    src: url('./fonts/nunito/nunito-regular-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoextralight_italic';
    src: url('./fonts/nunito/nunito-extralightitalic-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitolight_italic';
    src: url('./fonts/nunito/nunito-lightitalic-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoitalic';
    src: url('./fonts/nunito/nunito-italic-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitobold';
    src: url('./fonts/nunito/nunito-bold-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoblack';
    src: url('./fonts/nunito/nunito-black-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoextrabold';
    src: url('./fonts/nunito/nunito-extrabold-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitosemibold';
    src: url('./fonts/nunito/nunito-semibold-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoextrabold_italic';
    src: url('./fonts/nunito/nunito-extrabolditalic-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitolight';
    src: url('./fonts/nunito/nunito-light-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitosemibold_italic';
    src: url('./fonts/nunito/nunito-semibolditalic-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitobold_italic';
    src: url('./fonts/nunito/nunito-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoblack_italic';
    src: url('./fonts/nunito/nunito-blackitalic-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: "DCC-ASH";
    src: url(./fonts/dcc-ash/DCC\ -\ Ash.woff) format("woff"),
         url(./fonts/dcc-ash/DCC\ -\ Ash.woff2) format("woff2"),
         url(./fonts/dcc-ash/DCC\ -\ Ash.otf) format("open type");
}

:root {
    --side-img-width: calc(100vw * 1/4);
    --side-img-proper-width: calc(100vh * 0.67);
    --theme-color: #8C6F51;
    --hover-button-color: #785B3D; 
}

body {
    margin: 0 0;
    display: flex;
}

img {
    width: 200px;
    height: 100px;
}
.side-image {
    background-image: url(./imgs/bradley-dunn-YI8YDf9MXFA-unsplash-flipped.jpg);
    background-size: cover;
    max-width: max(var(--side-img-width), var(--side-img-proper-width));
    height: 100vh;
    flex: 0 0 auto;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(-1, 0, 0, 70%);
    font-size: 80px;
    font-family: "DCC-ASH";
    text-align: center;
    backdrop-filter: blur(9px);
}
main {
    flex: 1 1 auto;
    font-family: 'nunitobold';
    display: flex;
    flex-direction: column;
}
main>:nth-child(1) {
    max-width: 70ch;
    line-height: 1.5;
    margin-top: auto;
    font-size: large;
}

section {
    display: flex;
    gap: 50px;
    font-family: "nunitosemibold";
}

main>button:hover {
    background-color: var(--hover-button-color);
    transform: scale(1.02);
}

:link,
:visited {
    color: var(--theme-color);
}

::selection {
    color: white;
    background-color: var(--theme-color);
}

main>button {
    align-self: first baseline;
    transition: 0.1s ease-in-out;
    margin: 16px 40px;
    padding: 13px 0;
    width: 185px;
    box-sizing: border-box;
    background-color: var(--theme-color);
    color: white;
    border-width: 0px;
    border-radius: 5px;
    font-family: "nunitoextrabold";
    cursor: pointer;
}

main>:nth-last-child(1) {
    margin-bottom: auto;
}

section label {
    display: block;
    font-family: "nunitoextralight";
}

form#sign_up {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.219);
    padding-bottom: 15px;
}

main>* {
    padding-left: 40px;
}

form>:first-child {
    margin-bottom: 0;
    font-family:"DCC-ASH";
    font-size: 50px;
}