@font-face {
    font-family: 'varela_roundregular';
    src: url('./fonts/varela-round/varelaround-regular-webfont.woff2') format('woff2'),
         url('./fonts/varela-round/varelaround-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunitoextralight';
    src: url('./fonts/nunito/nunito-extralight-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoregular';
    src: url('./fonts/nunito/nunito-regular-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoextralight_italic';
    src: url('./fonts/nunito/nunito-extralightitalic-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitolight_italic';
    src: url('./fonts/nunito/nunito-lightitalic-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoitalic';
    src: url('./fonts/nunito/nunito-italic-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitobold';
    src: url('./fonts/nunito/nunito-bold-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoblack';
    src: url('./fonts/nunito/nunito-black-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoextrabold';
    src: url('./fonts/nunito/nunito-extrabold-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitosemibold';
    src: url('./fonts/nunito/nunito-semibold-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoextrabold_italic';
    src: url('./fonts/nunito/nunito-extrabolditalic-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitolight';
    src: url('./fonts/nunito/nunito-light-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitosemibold_italic';
    src: url('./fonts/nunito/nunito-semibolditalic-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitobold_italic';
    src: url('./fonts/nunito/nunito-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoblack_italic';
    src: url('./fonts/nunito/nunito-blackitalic-webfont.woff2') format('woff2'),
         url('./fonts/nunito/nunito-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: "DCC-ASH";
    src: url(./fonts/dcc-ash/DCC\ -\ Ash.woff) format("woff"),
         url(./fonts/dcc-ash/DCC\ -\ Ash.woff2) format("woff2"),
         url(./fonts/dcc-ash/DCC\ -\ Ash.otf) format("open type");
}

:root {
    transition: all 200ms ease-in-out;
    --side-img-width: calc(100vw * 1/4);
    --side-img-proper-width: calc(100vh * 0.67);
    --theme-color: #8C6F51;
    --hover-button-color: #785B3D; 
    --input-background: #8c705141;
    --valid-font-color: green;
    --valid-background-color: rgba(144, 238, 144, 0.26);
    --valid-border-color: lightgreen;
    --shadow-color: rgba(0, 0, 0, 20%);
    --label-color: #3a3a3c;
}

:root.dark {
    background-color: #18181b;
    color: #e8e6e3;
    --theme-color: #C46D5E;
    --shadow-color: #c46d5e11;
    --accent-color: #2A9D8F;
    --side-img-width: calc(100vw * 1/4);
    --side-img-proper-width: calc(100vh * 0.67);
    --hover-button-color: #c46d5e83; 
    --input-background: #8c705141;
    --valid-font-color: rgb(0, 255, 0);
    --valid-background-color: rgba(144, 238, 144, 0.411);
    --valid-border-color: lightgreen;
    --label-color: white;
}

body {
    margin: 0 0;
    display: flex;
}

img {
    width: 200px;
    height: 100px;
}
.side-image {
    background-image: url(./imgs/bradley-dunn-YI8YDf9MXFA-unsplash-flipped.jpg);
    background-size: cover;
   /* max-width: max(var(--side-img-width), var(--side-img-proper-width)); */
    max-width: calc(calc(400/638)* 100vh);
    height: 100vh;
    flex: 0 0 auto;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(-1, 0, 0, 70%);
    font-size: 80px;
    font-family: "DCC-ASH";
    text-align: center;
    backdrop-filter: blur(9px);
}
main {
    flex: 1 1 0;
    font-family: 'nunitobold';
    display: flex;
    flex-direction: column;
}

main>:nth-child(1) {
    max-width: 70ch;
    line-height: 1.5;
    margin-top: 13.99vh;
    margin-bottom: 10px;
    font-size: clamp(14px, 1.81vw, 18px);
    padding-right: 10px;
}

section {
    display: flex;
    column-gap: 50px;
    font-family: "nunitosemibold";
    flex-wrap: wrap;
}

main>button:hover {
    background-color: var(--hover-button-color);
}

:link,
:visited {
    color: var(--theme-color);
}

::selection {
    color: white;
    background-color: var(--theme-color);
}

main>button {
    align-self: first baseline;
    margin: 16px 40px;
    padding: 13px 0;
    width: 185px;
    box-sizing: border-box;
    background-color: var(--theme-color);
    color: white;
    border-width: 0px;
    border-radius: 5px;
    font-family: "nunitoextrabold";
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: background 200ms ease-in-out;
    box-shadow: 5px 5px 5px var(--shadow-color);
}

span.ripples {
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 0.4s linear infinite;
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.3;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

main>:nth-last-child(1) {
    margin-bottom: 9.56vh;
    margin-top: 0;
}

section label {
    font-family: "nunitobold";
    font-size: 12.5px;
    padding-bottom: 2px;
}
section p {
    display: flex;
    flex-direction: column;
}

form#sign_up {
    box-shadow: 0 5px 20px var(--shadow-color);
    padding: 20px 40px 20px;
}

form>:first-child {
    margin: 0 0;
    font-family:"DCC-ASH";
    font-size: 50px;
}

main>* {
    padding-left: 40px;
}

input {
    appearance: none;
    border: 0.6px solid rgba(0, 0, 0, 0.144);
    box-sizing: border-box;
    border-radius: 3px;
    min-height: 25px;
}
input:focus-visible {
    outline-color: var(--theme-color);
    background-color: var(--input-background)
}

input:focus-visible:invalid {
    color: red;
    outline-color: red;
    background-color: rgba(255, 0, 0, 0.178);
}
input:valid,
input:valid:focus-visible {
    color: var(--valid-font-color);
    border-color: var(--valid-border-color);
    background-color: var(--valid-background-color);
    outline-color: var(--valid-border-color);
    box-shadow: 1px 1px 10px rgba(0, 128, 0, 0.11);
}
/* change color when filled with auto select */
input:valid:-webkit-autofill,
input:valid:-webkit-autofill:hover, 
input:valid:-webkit-autofill:focus, 
input:valid:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--valid-background-color) inset !important;
}
input:invalid:-webkit-autofill,
input:invalid:-webkit-autofill:hover, 
input:invalid:-webkit-autofill:focus, 
input:invalid:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(255, 0, 0, 0.178) inset !important;
}

input.invalid:not(:valid) {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.178);
    box-shadow: 1px 1px 10px rgba(255, 0, 0, 0.11);
    color: red;
}

input:focus-visible::placeholder,
input.invalid::placeholder {
    color: red;
}
::placeholder {
    transition: all 200ms ease-in-out;
    color: transparent;
}
body>p.toggle_input {
    position: absolute;
    top: 10px;
    right: 20px;
}

input[type="image"] {
    height: 30px;
    border: 0px solid;
    cursor: pointer;
}

@media only screen and (max-width: 710px) {
    body {
        flex-wrap: wrap;
    }

    .side-image {
        max-width: 100vw;
        width: 100vw;
    }

    main>:nth-child(1) {
        margin-top: 100px;
    }

    body>p.toggle_input {
        position: absolute;
        top: 102vh;
        right: 20px;
    }
}
